body .viewPeaksOuter {
    background-image: linear-gradient(to left top, #9d84c1, #8f8cc6, #8293c8, #799ac7, #749fc4, #82a8c8, #90b0cc, #9eb9d0, #bac9dc, #d4dae8, #ebecf3, #ffffff);
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}

.center {
    text-align: center;
}

.viewPeaks {
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 85%;
    margin: auto;
    margin-top: 30px;
    min-height: 700px;
    opacity: 0.9;
}

.viewAll {
    font-size: 15px;
    padding:0.45em 1.2em;
    border: none;
    margin: 20px auto;
    border-radius: 20px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFF;
    text-align:center;
    transition: all 0.2s;
    background-color: #2d7497;
    
}

.viewAll:hover {
    /* background-color: #75A5BD; */
    box-shadow: 0 2px 6px 0 #000;
    background-color: #2d7497;
    color: white;
}

.lastFilter {
    padding-bottom: 10px;
}

.searchForm {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: auto;
    padding-bottom: 20px;

}

.submit {
    max-width: 80px;
    margin: auto;
    margin-top: 5px;
    background-color: #f1f1f1;
    color: black;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
}

.thumbnailContainer {
    padding-bottom: 20px;
}

.submit:hover {
    box-shadow: 0 2px 5px 0 #000;

}

.peaksHeader {
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;
    text-shadow: 3px 3px 4px whitesmoke;
}

#searchByName {
    margin-bottom: 50px;
}

#filters {
    /* border-bottom: 1px solid black; */
    max-width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #fff;
}
.filterInputs {
    margin: 5px auto;
    display: block;
    text-align-last: center;
    color: black;
}

#filterBox {
    color: #fff;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

@media all and (min-width: 800px) {

    .thumbnailContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    #filters {
        max-width: 500px;
    }
}

