.formElement {
    display: block;
    margin: auto;
}

.addComment {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 85%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
    opacity: 0.9;
}

body .addCommentContainer {
    background-image: linear-gradient(to left top, #9d84c1, #8f8cc6, #8293c8, #799ac7, #749fc4, #82a8c8, #90b0cc, #9eb9d0, #bac9dc, #d4dae8, #ebecf3, #ffffff);
    width: 100%;
    height: 800px;
    padding-top: 10px;
    padding-bottom: 30px;
}