h3 {
    margin: 5px 8px;
    font-size: 26px;
}

.thumbnail {
    box-shadow: 0 4px 8px 0 #000;
    transition: 0.3s;
    max-width: 300px;
    min-height: 150px;
    background: white;
    color: #232C33;
    margin: 15px auto;
    text-align: center;
    border-radius: 30px;
}

.thumbnail:hover {
    box-shadow: 0 8px 8px 0 #000;
}

.thumbnail-inner {
    padding: 15px;
}

.thumbTitle {
   color: black;
   font-size: 22px;
   text-shadow: 2px 2px 4px grey;
   text-transform: uppercase;
   /* text-decoration: underline; */
}

/* p {
    margin: 5px;
    font-size: 17px;
} */

@media all and (min-width: 800px) {
    .thumbnail {
        width: 250px;
        margin: 20px;
    }
}

