h2 {
    text-align: center;
    background: #75A5BD;
    margin-top: 0;
    color: #fff;
    text-shadow: 2px 2px 2px black;
}

.summitreg {
    background-color: white;
    text-align: center;
}

.signBtn {
    height: 40px;
    border-bottom: 2px solid #75A5BD;
}

.register {
    max-width: 85%;
    min-height: 90px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
}

.registerContent {
    background-color: white;
    margin: auto;
    margin-top: 30px;
}

