h2 {
    text-align: center;
    background: #75A5BD;
    margin-top: 0;
}

.summitreg {
    background-color: white;
    text-align: center;
}

.register {
    max-width: 85%;
    margin: 15px auto;
    background-color: #F1F6F8;
}

#peakinks {
    color: purple;
}